.idea/
*/_pycache_/
_pycache_/
*.pyc

# Keep folder structure
!*/*/images/.gitkeep
!*/*/labels/.gitkeep
!experiments/.gitkeep

# Ignore xview data
experiments/
*/*/labels
*/*/images
*/*/train
*/*/test
*/*/validation
*/*/key.txt

papers/

