.idea/
*/_pycache_/
_pycache_/
*.pyc

# Keep folder structure
!*/*/images/.gitkeep
!*/*/labels/.gitkeep
!experiments/.gitkeep

# Ignore xview data
*/*/labels
*/*/images
*/*/train
*/*/test
*/*/validation
*/*/key.txt

# Ignore Sint Maarten data
*/sint_maarten

papers/
data/xview/run.log
experiments/

